@using _0317_Product_Repository.Models.ViewModel
@model ProductDetailViewModel

<h2>@Model.Title</h2>

<div>
    <h3>@Model.product.Name</h3>
    <p>@Model.product.Price</p>
    <p>@Model.product.Count</p>
    <p>@Model.product.Tag</p>
    <p>@Model.product.IsEmptyStock</p>
</div>