@using _0317_Product_Repository.Models.ViewModel.Product
@model ProductDetailViewModel

<h2>@Model.Title</h2>
<div>
    <h5>@Model.Product.Name</h5>
    <p>@Model.Product.Price</p>
    <p>@Model.Product.Count</p>
    <p>@Model.Product.Tag</p>
</div>